<style>
    .padding-td {
        padding: 5px;
    }

    button {
        cursor: pointer;
    }
</style>

<h1>Data Seluruh Karyawan</h1>
<hr>

<% if (message) { %>
    <div id="message">
        <%= message %>
    </div>
<% } %>

<a href="/karyawan/tambah">
    <button style="margin-bottom: 5px;">Add</button>
</a>

<table border="1">
    <thead>
        <tr>
            <th class="padding-td">Nama</th>
            <th class="padding-td">Gender</th>
            <th class="padding-td">NIP</th>
            <th class="padding-td" colspan="3">Pilihan</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i = 0; i < karyawan.length; i++) { %>
            <tr>
                <td class="padding-td"><%= karyawan[i].Name %></td>
                <td class="padding-td"><%= karyawan[i].Gender %></td>
                <td class="padding-td"><%= karyawan[i].NIP %></td>
                <td class="padding-td">
                    <a href="/karyawan/detail/<%= karyawan[i].ID %>">
                        <button>Lihat detail</button>
                    </a>
                </td>
                <td class="padding-td">
                    <a href="/karyawan/edit/<%= karyawan[i].ID %>">
                        <button style="background-color: rgb(96, 152, 255);">Edit</button>
                    </a>
                </td>
                <td class="padding-td">
                    <a href="/karyawan/hapus/<%= karyawan[i].ID %>"
                    onclick="return confirm('Are you sure want to delete <%= karyawan[i].Name %> ?')">
                        <button style="background-color: rgb(255, 111, 111); color: white;">Delete</button>
                    </a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

<style>

    #message {
        position: fixed;
        top: 1.75%;
        left: 80%;
        transform: translate(-50%, 0%);
        width: 300px;
        padding: 10px;
        background-color: rgb(9, 255, 0);
        color: rgb(0, 0, 0);
        border-radius: 8px;
        text-align: center;
        font-size: 16px;
        box-shadow: 0px 0px 10px rgba(0, 255, 13, 0.756);
    }

</style>